include ../head.pug
body
  .container.mt-5
    h1 add/update yachts
    form(action="/submit-event-form" method="POST")
      .mb-3
        label(for="yachtName" class="form-label") yacht name
        input(type="text" class="form-control" id="yachtName" name="yachtName" required)
      .mb-3
        label(for="yachtDateTime" class="form-label") yacht insertion date/time 
        .input-group.date(id="datetimepicker1" data-target-input="nearest")
          input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="yachtDateTime" required)
          .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
            .input-group-text
              i.fas.fa-calendar-alt
      .mb-3
        label(for="location" class="form-label") location
        input(type="text" class="form-control" id="location" name="location" required)
      .mb-3
        label(for="ownerPhone" class="form-label") owner's contact phone #
        input(type="tel" class="form-control" id="ownerPhone" name="ownerPhone" required)
      .mb-3
        label(for="accomodates" class="form-label") accomodates 
        input(type="text" class="form-control" id="accomodates" name="accomodates" required)
      button(type="submit" class="btn btn-primary") add/edit

  script.
      const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'),{
          localization: {
            'locale': 'fr'
          }
      });
      picker.dates.formatInput = function(date) {
        return moment(date).format('DD/MM/YYYY HH:mm')
      }
